<!DOCTYPE html>

{% extends 'rideshare/base.html' %}
{% load crispy_forms_tags %}

<body>
	<div class="container">
		{% block content %}
		<br>
		<h3> Welcome, New User! </h3>
		<p> Please fill out required profile information.</p>
		<form method="post" class="post-form">
			{% csrf_token %}
			<div class="row">
				<div class="form-group col-md-6" style="width: 350px;">
					{{ form.hometown|as_crispy_field}}
				</div>
				<div class="form-group col-md-6" style="width: 350px;">
						{{ form.car|as_crispy_field}}
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6" style="width: 350px;">
					{{ form.phone_number|as_crispy_field}}
				</div>
				<div class="form-group col-md-6" style="width: 350px;">
					{{ form.preferred_payment|as_crispy_field}}
				</div>
			</div>
			<!-- {{ form|crispy }} -->
				<br>
				<div class="btn-group" role="group" aria-label="Basic example" 
					style="margin: -20px 0px 100px 0px;">
					<button type="submit" class="btn btn-secondary" 
					style="background-color:#466289; color: #fff; border: none">Submit</button>
				</div>
			</form>
		</div>
		
		{% endblock %}
	</div>

	<style>
		.profile_form_container{
			max-height: 100vh;
			display: inline;
		}

		.form-group{
			display: inline-block;
		}
		.btn-group{
			margin: -10px 0px 100px 0px;
		}
	</style>
</body>
	<!-- <div class="container">
		<br>
		<h4> Welcome, New User! </h4>
		<h6> Please fill out required profile information.</h6>
		<body>
			<div class="container">
			<form method="post" class="post-form">
				{% csrf_token %}
				<div class="form-group">
					{{ form.as_p }}
				</div>
			</form>
			<div class="btn-group" role="group" aria-label="Basic example">
				<button type="submit" class="btn btn-secondary submit_btn" action="{% url 'feed' %}"
					style="background-color:#466289; color: #fff; border: none">
						Submit</button>
			</div> -->
			<!-- <form method="post" class="post-form" action='cal'>
				{% csrf_token %}
					<div class="form-group">
						{% for field in form %}
							{% if field.name == "hometown" %}
								<label for="id_{{ field.name }}" 
									style=" margin: 20px 0px 5px 0px;">
									{{ field.label }} </label>
								<input class="form-control" id="id_{{ field.name }}"
									type="text" placeholder="Alexandira, VA" 
									style="width: 300px;">
							{% endif %}	
							{% if field.name == "car" %}
								<label for="id_{{ field.name }}" 
									style=" margin: 20px 0px 5px 0px;">
									{{ field.label }} </label>
								<input class="form-control" id="id_{{ field.name }}"
									type="text" placeholder="Jeep Wrangler" 
									style="width: 300px;">
							{% endif %}
							{% if field.name == "preferred_payment" %}
								<label for="id_{{ field.name }}" 
									style=" margin: 20px 0px 5px 0px;">
									Perferred Payment </label>
								<select class="form-control" id="id_{{ field.name }} " 
									style="width: 300px; margin-bottom: 35px;"> 
									<option> Venmo </option>
									<option> CashApp </option>
									<option> PayPal </option>
									<option> Check </option>
									<option> Other </option>
								</select>
							{% endif %}
					{% endfor %}
				  	</div>
				  	<br>
				  	<div class="btn-group" role="group" aria-label="Basic example">
						<button type="submit" class="btn btn-secondary submit_button"
						style="background-color: #466289; color: #ffffff;">Submit</button>
					</div>
				</form>
			</div>
		</body> -->
	

<!-- <style>
	.submit_button{
		border: #FA6121 !important;
		background-color: #ffffff !important;
		color: #466289;
	}
</style> -->