<!DOCTYPE html>

{% extends 'rideshare/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<body>
  {% block content %}
  <div class = "container" style="margin-bottom: 100px;">
      <h3 style="margin-top: 30px;"> Offer a Ride </h3>
      <br>
      <form method="post" class="post-form">
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="form-group col-md-6" style="width: 350px;">
                  {{ form.start_location|as_crispy_field}}
                </div>
                <div class="form-group col-md-6" style="width: 350px;">
                    {{ form.end_location|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6" style="width: 350px;">
                  {{ form.depart_date|as_crispy_field}}
                </div>
                <div class="form-group col-md-6" style="width: 350px;">
                    {{ form.depart_time|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6" style="width: 350px;">
                  {{ form.price|as_crispy_field}}
                </div>
                <div class="form-group col-md-6" style="width: 350px;">
                    {{ form.seats|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                <div class="form-group" style="width: 700px; margin-left: 15px;">
                  {{ form.notes|as_crispy_field}}
                </div>
            </div>
        </div>
        <br>
        <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-secondary submit_btn" action="{% url 'calendar' %}"
        >
          Submit</button>
        </div>
        <a href="/cal" style="color: #466289; margin-left: 15px;"> Cancel </a>
      </form>

      <style>
        .btn-secondary{
          background-color: #466289 !important; 
          color: #ffffff !important;
			  }
			
        .btn-secondary:hover{
          background-color: #DBE8F9 !important;
          color: #000 !important;
        }

        .form-group{
          margin-bottom: 0px;
        }
      </style>

        
        
     
  {% endblock %}
</body>

