<!DOCTYPE html>

{% extends 'rideshare/base.html' %}
{% block content %}


<head>
	 <!-- Required meta tags -->
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
	 <!-- Bootstrap CSS -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
</head>

<body>
    <div class="imgcontainer" align="center">
        <img src="http://cliparts.co/cliparts/kiK/B8E/kiKB8EL4T.jpg" alt='car' width=128>
    </div>
        
	<br>
	<div class="info">
		<div class="infoblock" style="margin: 0px 100px 100px 100px;">
			<div class="profile">
			<form name="userinfo" action="" method="">
				<div class="form-group">
				<label for="=Name">Name</label>
				<input type="text" class="form-control" id="name" placeholder="Enter name">
				<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
				</div>
				<div class="form-group">
				<label for="car">Type of Car </label>
				<input type="text" class="form-control" id="car" placeholder="Ford Fusion 2018">
				</div>
				<div class="form-group">
				<label for="hometown">Hometown </label>
				<input type="text" class="form-control" id="hometown" placeholder="Phoenixville, Pennsylvania">
				</div>
				<label>Payment Method </label><br>
				<div class="form-check">
				<input class="form-check-input" type="radio" name="PAYMENT_CHOICES" id="exampleRadios1" value="option1" checked>
				<label class="form-check-label" for="exampleRadios1">
					Venmo
				</label>
				</div>
				<div class="form-check">
				<input class="form-check-input" type="radio" name="PAYMENT_CHOICES" id="exampleRadios2" value="option2">
				<label class="form-check-label" for="exampleRadios2">
					Cash
				</label>
				</div>
				<div class="form-check">
				<input class="form-check-input" type="radio" name="PAYMENT_CHOICES" id="exampleRadios2" value="option2">
				<label class="form-check-label" for="exampleRadios2">
					Paypal
				</label>
				</div>
				<div class="form-check">
				<input class="form-check-input" type="radio" name="PAYMENT_CHOICES" id="exampleRadios2" value="option2">
				<label class="form-check-label" for="exampleRadios2">
					Check
				</label>
				</div>
				<div class="form-check">
				<input class="form-check-input" type="radio" name="PAYMENT_CHOICES" id="exampleRadios2" value="option2">
				<label class="form-check-label" for="exampleRadios2">
					Other
				</label>
				</div>
			<br>
			<div class="btn-group" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
            <style>
                .btn-secondary{
                    background-color: #4056A1;
                    border: none;
                }
            </style>
			</form>
			</div>
		</div>
	</div>
    {% endblock %}
</body>

